.fade-in {
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-button {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.animated-button:hover {
  transform: scale(1.05);
  background-color: #ff6600;
  color: white;
}

/* SVG animado */
.svg-logo path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 3s forwards ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Responsive grid para recetas */
.grid-recetas {
  display: flex;
  flex-wrap: wrap;
  //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  list-style: none;
}

.grid-recetas li {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  max-width: 270px;
}

.grid-recetas li:hover {
  transform: translateY(-5px);
}

.grid-recetas a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.grid-recetas picture,
.grid-recetas img {
  height: 180px;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid #ddd;
}

.grid-recetas h3 {
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
  color: #333;
}

@media (max-width: 600px) {
  .grid-recetas h3 {
    font-size: 1rem;
  }
}
