@use "variables";
header {
  background-color: $primary-color;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

.hidden {
  display: none;
}
